body{
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(156, 135, 99);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color:rgb(90, 80, 80);
    font-size:x-large;
    font-style: oblique;
    
}
p{
    font-family: fantasy;
    font: weight 500px;;
}
img{
    border-radius: 20px;
}

p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size:large;
    
}
h2{
    margin: 10px;
    color: aqua;
}
a{
    color: aqua;
}
footer {
    background-color: #060d18;
    color: rgb(4, 3, 3);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
table{
    color:white;
}
.co{
    li{
    color:white;
}
}

